.savedNotes{
	padding:80px 10px 130px 10px;
	height:auto;
	display:grid;
	grid-template-columns:repeat(4,300px);
	gap:25px;
	justify-items:center;
	justify-content:center;
}
@media(max-width:1300px){
	.savedNotes{
		grid-template-columns:repeat(3,1fr);
		
	}
}
@media(max-width:900px){
	.savedNotes{
		grid-template-columns:repeat(2,1fr);
		
	}
}
@media(max-width:680px){
	.savedNotes{
		grid-template-columns:repeat(1,1fr);
		
	}
}
@media(max-width:516px){
	.savedNotes{
		padding:230px 10px 130px 10px;
		
	}
}
@media(max-width:600px){
	.savedNotes{
		grid-template-columns:repeat(1,1fr);
		
	}
}